:root {
  --main-color: #2196f3;
  --main-font: "roboto", sans-serif;
  --secondary-font: "raleway", sans-serif;
}

body {
  font-family: var(--main-font);
}
/* ======== COMPONENTS ======== */
.link {
    text-decoration: none;
}

.modal-btn {
  background-color: #2196f3;
  color: white;
  font-weight: 700 ;
  font-size: 16px;
  line-height: 30;
  line-height: 1.6;
  letter-spacing: 0.06em;
}

#list-header {
  font-size: 36px;
  line-height: 42px;
  line-height: 1;
  letter-spacing: 0.03em;
}
/* ======== END COMPONENTS ======== */

/* ======== HEADER ======== */

.navigation-logo {
    color: #2196f3;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.navigation-list-item {
  font-size: 14px;
  line-height: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
}

.navigation-list-link {
  color: #212121;
  font-size: 14px;
  line-height: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navigation-list-link-color {
  color: #2196f3;
  text-decoration: none;
}

.header .address-mail,
.header .address-phone-number {
  font-size: 14px;
  line-height: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header > .address-mail {
  color: #2196f3;
}
.header > .address-phone-number {
  color: #757575;
}
/* ======== END HEADER ======== */

/* ======== HERO ======== */
.hero {
  background-color: #2f303a;
}
.main-header {
  color: white;
  font-size: 44px;
  line-height: 60px;
  line-height: 1.063;
  letter-spacing: 0.06em;
}
/* ======== END HERO ======== */


/* ======== BODY ======== */

.section-text,
.about {
    background-color: #E5E5E5;
}
.body-header {
  font-size: 14px;
  line-height: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
}

.body-text {
    font-size: 14px;
    line-height: 24px;
    line-height: 1.46;
    letter-spacing: 0.03em;
    color: #757575;
}

.team {
    background-color: #F5F4FA;
}
.team-list-item-name,
.team-list-item-position {
  font-size: 16px;
  line-height: 19px;
  line-height: 1;
  letter-spacing: 0.03em;
}

.team-list-item-position {
  color: #757575;
}
/* ======== END BODY ======== */

/* ======== FOOTER ======== */
.footer {
    background-color: #2f303a;
}
.footer > .address {
    font-size: 14px;
    line-height: 24px;
    line-height: 1.46;
    letter-spacing: 0.03em;
    color: #FFFFFF; 
    font-style: normal;
    text-decoration: none;
}
.footer .address-mail,
.footer .address-phone-number {
    color: #FFFFFF; 
    opacity: 60%;
    font-style: normal;
    text-decoration: none;
}
/* ======== END FOOTER ======== */
